﻿@model VerifyPasswordViewModel
@{
    ViewData["Title"] = "VerifyPassword";
}

<h2>VerifyPassword</h2>
<form asp-controller="Account" asp-action="VerifyPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Форма подтверждения пароля</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Подтвердить" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a href="@Url.Action("Index", "Notes")">Назад к списку</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}