﻿@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ooooops, something went really bad! :(</h2>
<p class="lead text-left">
    @if (Model != null) {
        if (!string.IsNullOrEmpty(Model.Error)) {
             <strong>@Model.Error</strong>
        }
        if (!string.IsNullOrEmpty(Model.ErrorDescription)) {
             <small>@Model.ErrorDescription</small>
        }
    }
</p>
