﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Department of DMA, Computer Sciense<br />
    Belarus, State University<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ilja110495@gmail.com">ilja110495@gmail.com</a><br />
</address>