﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Менеджер Паролей</h1>
    <p class="lead">Менеджер паролей - это бесплатное онлайн-приложение для безопасного хранения ваших паролей. В качестве алгоритма шифрования используется AES-128 </p>
    <p>@Html.ActionLink("Начать работу", "Index", "Notes")</p>
</div>